<div class="dashboard-container " [class.dashboard-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="dashboard-toolbar bg-white">
        <h1 class="text-primary">Mi Banco</h1>
      <span class="spacer"></span>
      <button mat-icon-button [routerLink]="[ '/panel']" class="text-primary" ><i class="material-icons">home</i></button>
      <button mat-flat-button [matMenuTriggerFor]="userMenu" class="text-primary">{{userEmail}} <i class="material-icons">arrow_drop_down</i></button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logOut()" >Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
  
  
    <mat-sidenav-container class="dashboard-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  