<div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-6 col-xxl-6 m-auto">
        <mat-card class="col p-0">
          <div class="row pt-4">
              <div class="col">
                  <h1 class="text-primary text-center">Mi banco</h1>
              </div>
          </div>
          <mat-card-content class="ps-5 pe-5 pb-5 pt-2">
            <div class="row">
                <h2 class="mb-1 text-muted" >Iniciar sesión</h2>
                <p class="text-muted">Ingrese su correo electrónico y contraseña para iniciar sesión.</p>
            </div>
            <div class="row" *ngIf="error">
                <div class="p-3 mb-2 bg-danger text-white">{{message}}</div>
            </div>
            <br>
            <form #loginUserEmail="ngForm" [formGroup]="form" class="" (ngSubmit)="login()">
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" #email formControlName="email" class="form-control" id="email"  placeholder="Ingrese su correo electrónico" [class.is-invalid] = "formControl['email'].invalid ">
                    <div class="invalid-feedback">
                      El email no tiene un formato valido
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" #password formControlName="password" class="form-control" id="password" placeholder="Indique una contraseña de acceso" [class.is-invalid] = "formControl['password'].invalid">
                    <div class="invalid-feedback">
                      El formato de la contraseña no parece correcto
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 offset-md-8">
                  <button type="submit" class="btn btn-primary col-md-12 text-white" [disabled] ="loginUserEmail.invalid || petitionInProgress">
                    <span *ngIf="!petitionInProgress">Iniciar sesión</span>
                    <span *ngIf="petitionInProgress">Iniciando...</span>
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
  
    </div>
  </div>
  
  
  
  
  
